.menu-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-container--mobile {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-links {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-links div {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
