.menu-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.menu-container--mobile {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-container div {
  margin: 15px 0;
}

.icon-btn {
  margin-right: 40px;
}

.menu-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
